*{
    background-color: aquamarine;
}

header nav img, ul{
    display: inline-block;
}

header nav img:first-child{
    width: 60px;
    height: 60px;
    border-radius: 6px 6px 0px 0px;
}

/* header nav ul li:first-child{
    list-style: none;
}

header nav ul li:last-child{
    list-style: none;
}

header nav ul li:nth-child(2){
    list-style: none;
}

header nav ul li:nth-child(3){
    list-style: none;
} */

header nav ul li{
    list-style: none;
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul{
    text-align: center;
}

header nav:first-child ul li:last-child a span{
    color: brown;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

section div.first, div.second, div.third, div.fourth{
    display: inline-block;
    width: 24%;
}

section div.fourth{
    border: 3px dashed red;
    padding: 3px;
}

section:nth-child(3) div{
    width: 24%;
    display: inline-block;
    background-color: brown;
}
section:nth-child(3) div:nth-child(3){

}